@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.btn {
  @apply rounded  px-4 py-2;

  &:hover {
    @apply opacity-80;
  }
} */

.btn-primary-gray {
  @apply rounded bg-gray-300 px-2 py-2;

  &:hover {
    @apply bg-primary text-white;
  }
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 1s ease-in-out;
}
.fade-enter,
.fade-leave-to {
  height: 0;
}

.fade-enter-to,
.fade-leave {
  height: 312px;
}

/* .v-enter-active, .v-leave-active {
  transition: opacity 1s;
}

.v-enter-from, .v-leave-to {
  opacity: 0;
}

.v-enter-to, .v-leave-from {
  opacity: 1;
} */

